.stickyHeader {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  //gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap; // Позволяет перенос строк при необходимости
  justify-content: center;
  // Расстояние между кнопками

  button {
    flex: 1 1 auto; // Позволяет кнопкам сжиматься и растягиваться
    padding: 2px;
    margin: 5px;
    min-height: 50px;
    text-align: center;
    box-sizing: border-box;
  }
}

.wordList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.wordListButton {
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #4a4a4a;
  background-color: white;
  color: #4a4a4a;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.caution {
  color: #f47012;
  text-align: center;
}
