.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  font-size: 1rem; /* Базовый размер шрифта */
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .container {
    font-size: 1.2rem; /* Увеличиваем размер шрифта на маленьких экранах */
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 1.5rem; /* Увеличиваем размер шрифта на планшетах */
  }
}

@media (min-width: 1024px) {
  .container {
    font-size: 2rem; /* Увеличиваем размер шрифта на десктопах */
  }
}

.content {
  flex-grow: 1; /* Разрешаем содержимому занимать оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wordsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Промежуток между плитками слов */
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Стили для кнопок */
.button {
  margin: 5px 0;
  padding: 8px 16px;
  width: 200px;
  font-size: 0.8em; /* Используем относительный размер шрифта */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.wordContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Промежуток между словом и иконкой */
  font-size: 1.2em; /* Увеличенный размер шрифта для слов */
}
