.input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 0;
}

.errorMessage {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  font-size: 14px;
  color: red;
}
