.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  font-size: 1rem; /* Базовый размер шрифта */
  box-sizing: border-box;
}

@media (min-width: 320px) {
  .container {
    font-size: 1.2rem; /* Увеличиваем размер шрифта на маленьких экранах */
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 1.5rem; /* Увеличиваем размер шрифта на планшетах */
  }
}

@media (min-width: 1024px) {
  .container {
    font-size: 2rem; /* Увеличиваем размер шрифта на десктопах */
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Стили для кнопок */
.button {
  margin: 5px 0;
  padding: 8px 16px;
  width: 200px;
  font-size: 1rem; /* Используем относительный размер шрифта */
  border: none;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #7877778f;
}
