.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.formGroup {
  width: 100%;
  position: relative;
  margin-bottom: 40px; /* Увеличенный отступ */
}

.button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #7877778f;
}
