.content {
  flex-grow: 1; /* Разрешаем содержимому занимать оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.nextWordsButton {
  background-color: #f4a261; // Бежево-оранжевый цвет
  color: white; // Белый текст для контраста
  border: none; // Убираем границу
  width: 10rem;
  padding: 1rem 2rem; // Увеличиваем внутренние отступы (размер кнопки)
  font-size: 1rem; // Увеличиваем размер текста
  border-radius: 10px; // Скругленные углы
  cursor: pointer; // Изменяем курсор при наведении
  transition: background-color 0.3s; // Добавляем плавный переход для цвета
}

.copyWordsButton {
  background-color: #c0c0c0;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #000;

  &:hover {
    background-color: #b0b0b0;
  }
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
