.content {
  flex-grow: 1; /* Разрешаем содержимому занимать оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.nextWordsButton {
  background-color: #f4a261; // Бежево-оранжевый цвет
  color: white; // Белый текст для контраста
  border: none; // Убираем границу
  width: 10rem;
  padding: 1rem 2rem; // Увеличиваем внутренние отступы (размер кнопки)
  font-size: 1rem; // Увеличиваем размер текста
  border-radius: 10px; // Скругленные углы
  cursor: pointer; // Изменяем курсор при наведении
  transition: background-color 0.3s; // Добавляем плавный переход для цвета
}
