.content {
  flex-grow: 1; /* Разрешаем содержимому занимать оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nextWordsButton {
  background-color: #f4a261; // Бежево-оранжевый цвет
  color: white; // Белый текст для контраста
  border: none; // Убираем границу
  padding: 15px 30px; // Увеличиваем внутренние отступы (размер кнопки)
  font-size: 18px; // Увеличиваем размер текста
  font-weight: bold; // Жирный текст
  border-radius: 10px; // Скругленные углы
  cursor: pointer; // Изменяем курсор при наведении
  transition: background-color 0.3s; // Добавляем плавный переход для цвета
}
